footer
  .menu-footer
    .container
      .row
        .col.s12.m6.l3
          ul
            li.titulo-footer Performma
            li: a(href="./") Inicio
            li: a(href="./quienes-somos.html") Quienes somos
            li: a(href="./contactos.html") Contáctenos
        .col.s12.m6.l3
          ul
            li.titulo-footer: a.btn-verde-fosforesente(href="./servicios.html") Servicios
            li: a(href="./servicios.html") Capacitación ejecutiva.
            li: a(href="./servicios.html") Gestión del desempeño empresarial.
            li: a(href="./servicios.html") Asesoramiento estratégico.
            li: a(href="./servicios.html") Soporte, mejora continua.
            li: a(href="./servicios.html") Business Intelligence y Data Mining.
            li: a(href="./servicios.html") Soluciones tecnológicas estratégicas.
        .col.s12.m6.l3
          ul
            li.titulo-footer: a.btn-naranja-fosforesente(href="javascript:void(0);") Productos
            li: a(href="./analisis-visual-para-todos.html") Análisis visual para todos
            li.col.s10.offset-s1: a(href="./analisis-visual-para-todos.html"): img.responsive-img.logo-tableau(src="images/productos/tableau.png", alt="Tableau")
            li: a(href="./plataforma-de-rendimiento-digital.html") Plataforma de rendimiento digital
            li.col.s10.offset-s1: a(href="./plataforma-de-rendimiento-digital.html"): img(src="images/productos/dynatrace.svg", alt="Dynatrace")
        .col.s12.m6.l3
          ul
            li.titulo-footer Proyectos
            li: a(href="./industria-y-mineria.html") Industria y Minería
            li: a(href="./telecomunicaciones.html") Telecomunicaciones
            li: a(href="./banca-y-seguros.html") Banca y Seguros
            li: a(href="./salud.html") Salud
            li: a(href="./gobierno-y-alcaldias.html") Gobierno y Alcaldías
            li: a(href="./ong-y-fundaciones.html") ONG y Fundaciones
          .menu.hide-on-small-only
  .barra
    .container
      .row(style='margin-bottom: 0px;')
        .col.s12.l7.white-text.left-align(style='margin-top: 15px;')
          | Todos los Derechos Reservados ® 
          strong(style='font-weight:700;display:inline-block;') Performma.
          span(style='display:inline-block;') © 2017.
        .col.s12.l5.right-align
          ul.social_icons
            li
              a(href='#')
                i.waves-effect.waves-light.fa.fa-facebook
            li
              a(href='#')
                i.waves-effect.waves-light.fa.fa-twitter
            li
              a(href='#')
                i.waves-effect.waves-light.fa.fa-google-plus
        //- .col.s12.l4.white-text.center-align(style='color: rgba(255, 255, 255, 0.22);')
        //-   p.ah
        //-     a#ahpublicidad(href='//ahpublic.com', target='_blank') Diseño y Programación Ah! Publicidad
script(src='js/jquery.js')
//- script(src="http://code.jquery.com/jquery-latest.js")
script(src="js/jquery.lazyload.js")
script(src='js/materialize.min.js')
script(src='js/wow.min.js')
script(src='js/headroom.min.js')
script(src="js/particles.min.js")
script(src='js/slick.min.js')
//- script(src="js/particulas.js")
script(src='js/main.js')
