header#header.header.fixed
  nav.nav-logo
    .container
      a.brand-logo(href='./') 
        //-.isotipo
            img.iso.animred(src="images/logo/isotipo-01-100.png", alt="")
        img.logotipo.hide-on-med-only(src="images/logo/logo.png", alt="Performma",width="220")
        img.isologo.hide-on-large-only.hide-on-small-only(src="images/logo/isotipo.png", alt="Performma",width="120")
      ul#dropdown1.dropdown-content
        li: a(href="#industria-y-mineria.html") Análisis visual para todos
        li.divider
        li: a(href="#telecomunicaciones.html") Plataforma de rendimiento digital
      ul#dropdown3.dropdown-content
        li: a(href="#industria-y-mineria.html") Industria y Minería
        li.divider
        li: a(href="#telecomunicaciones.html") Telecomunicaciones
        li.divider
        li: a(href="#banca-y-seguros.html") Banca y Seguros
        li.divider
        li: a(href="#salud.html") Salud
        li.divider
        li: a(href="#gobierno-y-alcaldias.html") Gobierno y Alcaldías
        li.divider
        li: a(href="#ong-y-fundaciones.html") ONG y Fundaciones
      .menu.hide-on-small-only
        ul.menu-principal
          li
            a.dropdown-button(href="servicios.html") Servicios
          li
            a.dropdown-button(data-activates="dropdown1", href="javascript:void(0);") Productos <i class="material-icons right"> arrow_drop_down</i>
          li
            a.dropdown-button(data-activates="dropdown3", href="javascript:void(0);") Proyectos <i class="material-icons right"> arrow_drop_down</i>
        ul.menu-inicio(style="position:absolute;top:0;right: 0;")
          li: a.waves-effect.waves-red(href='./') Inicio
          li: a.waves-effect.waves-red(href='quienes-somos.html') Quienes somos
          li: a.waves-effect.waves-red(href='contactos.html') Contáctenos

      .menu-responsive         
              
        a(href="#http://", target="_blank" data-activates="mobile-demo" class="button-responsive") 
          span MENÚ
          i.material-icons.bars menu
          
          
ul.side-nav#mobile-demo
  li(style="line-height: 0rem;"): img.logomovil(src="images/logo/logo.png", alt="Performma")
  li.divider
  li: a(href="./") Inicio
  li.divider
  li: a(href="./quienes-somos.html") Quienes somos
  li.divider
  li: a(href="./contactos.html") Contáctenos
  li.divider
  li: a(href="./") Servicios
  li.divider
  li 
    ul(class="collapsible" data-collapsible="accordion")
      li
        a.collapsible-header(href="javascript:void(0);") Productos <i style="margin: 0;" class="material-icons right"> arrow_drop_down</i>
        ul.collapsible-body 
          li: a(href="#industria-y-mineria.html") Análisis visual para todos
          li.divider
          li: a(href="#telecomunicaciones.html") Plataforma de rendimiento digital
      li.divider
      li
        a.collapsible-header(href="javascript:void(0);") Proyectos <i style="margin: 0;" class="material-icons right"> arrow_drop_down</i>
        ul.collapsible-body 
          li: a(href="#industria-y-mineria.html") Industria y Minería
          li.divider
          li: a(href="#telecomunicaciones.html") Telecomunicaciones
          li.divider
          li: a(href="#banca-y-seguros.html") Banca y Seguros
          li.divider
          li: a(href="#salud.html") Salud
          li.divider
          li: a(href="#gobierno-y-alcaldias.html") Gobierno y Alcaldías
          li.divider
          li: a(href="#ong-y-fundaciones.html") ONG y Fundaciones
          
