head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name='designer', content='Fernando Javier Averanga Aruquipa')
  meta(name='author', content='')
  meta(name='description', content='Performma es una empresa de consultoría y educación ejecutiva, orientada a la administración del desempeño estratégico construyendo herramientas prácticas y distribuyendo mejores prácticas a ejecutivos de medianas empresas. Mejore la eficiencia de su gestión')
  meta(name='keywords', content='')
  link(rel="stylesheet", href="css/font-awesome.min.css")
  link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway") 
  //-font-family: 'Raleway', sans-serif;
  link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Archivo+Black")
  //-font-family: 'Archivo Black', sans-serif;
  link(rel="stylesheet", href="css/style.css")
  script(src="https://www.google.com/recaptcha/api.js?hl=es")
    
  title PERFORMMA - Mejore la eficiencia de su gestión
