mixin rubro(ruta, titulo, delay)
  - var imgruta = 'images/';
  - var imgext = '.png';
  - var httpruta = 'http://www.';
  - var rutagnb = '.gnb.com.bo/';
  
  a.wow.rubberBand.g-20(href= httpruta + ruta + rutagnb , target="_blanck",data-wow-duration="2s", data-wow-delay= delay + "s" )
    h2.texto-rubro= titulo
    img.rubros(src= imgruta + ruta + imgext, alt= titulo) 
    img.gota(src="images/gota.svg")
