section
  .slider
    ul.slides
      li
        img(src='images/slider1.jpg')
        .opacidad  
        // random image
        .caption.center-align
          h3 MEJORE LA EFICIENCIA DE SU GESTIÓN
          h5.light.grey-text.text-lighten-3 
      li
        img(src='images/slider3.jpg')
        .opacidad
        // random image
        .caption.left-align
          h3 Herramientas IT 
          h5.light.grey-text.text-lighten-3 Gestione el desempeño de su organización y mejore sus prácticas empresariales.
      li
        img(src='images/slider2.jpg')
        .opacidad
        // random image
        .caption.right-align
          h3 Optimizar sus resultados
          h5.light.grey-text.text-lighten-3 Alinear IT con su estrategia empresarial
