/*ViewPort segun resolución*/
$web: 993px;
$tablet: 992px;
$movil: 601px;
.menu-responsive{
  display: none;
}
@media only screen and (max-width: 725px){
  .menu{
    display: none;
  }
  .menu-responsive{
    display: block;
  }
}
body{background: white;color: #365480; margin-top: 120px;}
header{
  position: absolute;
}
.fixed{right: 0; left: 0; top: 0; }
.fixed.header{width: 100%;}
/*#header.slide--up #logo{top: -150px; -webkit-animation: none; animation: none;}*/
.slide{}
.slide--top{
  position: absolute;
}
.slide--reset{}
.slide--up{}
header.slide--notop{
  position: fixed;
  z-index: 2;
  nav.nav-logo {
    height: 85px;
  }
  .brand-logo{
    width: 10px;
  }
  .logotipo{
    width: 165px;
  }
  .isologo{
    width: 90px;
  }
  nav ul>a {
    font-size: 0.8rem;}
  .menu-principal {
    margin-top: 35px;
    height: 50px;
    &>a {
      font-size: .62rem;
    }
    &>li {
      height: 50px;
      &>a{
        height: 50px;
      }
    }
  }
}
.container{
  width: 90%;
}
nav.nav-logo{height: 120px;background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 33, 86, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0px 2px 20px 0px rgba(0, 0, 0, 0.28);
}
nav{
  ul{
    a{
      color: #365480;
    }
  }
  .button-responsive {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    width: 80px;
    height: 60px;
    transform: translateY(-50%);
    border-radius: 5px;
    border: solid #eb553d;
    background: #ffffff;
    color: #3d567f;
    transition: .5s all;
    span{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-60%);
    }
    &:hover{
      background: #3d567f;
      color: white;
    }
  }
}
.logomovil{
  width: 100%;
  padding: 0 40px;
  height: 120px;
}
.bars{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-15%);
}
.menu{
  position: relative;
  float: right;
}
.menu-inicio{
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 3rem;
  opacity: 0.8;
  font-weight: 300;
}
.menu-principal{margin-top: 50px;height: 70px;float: right;
  &>li{
    height: 60px;
  }
  a{
    font-size: 2rem;
    font-weight: 300;
    height: 60px;
    line-height: 4.1rem;
  }
}
nav i, nav i.material-icons {line-height: 4.2rem;}
.collapsible-body{
  li>a{
    font-size: 1rem;
  }
}
.lazy {display: none;}

.slider{ height: 500px !important;
  h3, h5{
    font-family: 'Archivo', sans-serif;
    text-shadow: 0 4px 8px #000, 5px 2px 12px #000;
  }
  h3{
    font-size: 4rem;
    text-transform: uppercase;
  }
  .slides{height: 500px !important;
    .opacidad{
      background: rgba(0, 85, 255, 0.25);
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  @media only screen and (min-width: $web){
    height: 560px !important;
    .slides{height: 560px !important;}
    h3{
      font-size: 4rem;
    }
    h5{
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: $tablet) and (min-width: $movil){
    height: 450px !important;
    .slides{height: 450px !important;}
    h3{
      font-size: 2.7rem;
    }
    h5{
      font-size: 1.7rem;
    }
  }
  @media only screen and (max-width: $movil){
    height: 330px !important;
    .slides{height: 330px !important;}
    h3{
      font-size: 1.5rem;
    }
    h5{
      font-size: 1.1rem;
    }
  }
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #3994ad;
}

section{
  position: relative;
  overflow: hidden;
}
h1, h2, h3, p, b{
  font-family: 'Raleway', sans-serif;
}
h2{font-size: 3.2rem;text-align: center;}
h3{font-size: 1.75rem;}
p{font-size: 1.25rem;text-align: justify;}
img[alt="Tickeo"]{
  margin: 1.8rem 0 1.168rem;
}

/*TARJETAS*/
.icon-blanco{
  display: none;
  transition: .5s all;
}
.btn-bordeado:hover{
  background: rgba(255, 255, 255, 0.21);
}
.row{
  .acceso-rapido{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0;
    border-top: solid;
    transition: all 0.4s;
    &:hover{
      border-top: solid #c35e4f;
    }
  }
  .tarjeta{
    height: 400px;
  }
  .tarjeta2{
    height: 250px;
  }
  .tarjeta,.tarjeta2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    transition: all 0.4s;
    .btn-bordeado{
      border: 2px solid #eb553d;
      border-radius: 5px;
      padding: 11px 29px;
      letter-spacing: 0.134em;
      color: #eb553d;
      transition: 0.5s all;
    }
    &:hover{
      .icon-azul{
        display: none;
      }
      .icon-blanco{
        display: block;
      }
      background-color: #eb553d;
      background-image: linear-gradient(39deg,rgba(0, 117, 212, 0.22),rgba(154, 154, 29, 0.22));
      color: #fff;
      text-shadow: 1px 1px 1px #365480;
      .btn-bordeado{
        border: 2px solid #ffffff;
        color: #ffffff;
      }
      polygon{
        fill: rgb(203, 22, 22) !important;
      }
    }
    .tarjeta-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    img{
      width: 110px;
      position: absolute;
      top: 25%;
      transform: translateY(-25%);
    }
    h2{
      width: 90%;
      height: 100%;
      position: absolute;
      top: 100%;
      transform: translateY(-50%);
      @media only screen and (min-width: $web){
        font-size: 1.8rem;
      }
      @media only screen and (max-width: $tablet) and (min-width: $movil){
        font-size: 1.7rem;
      }
      @media only screen and (max-width: $movil){
        font-size: 1.5rem;
      }
    }
    a{
      position: absolute;
      bottom: 2%;
      transform: translateY(-40%);
    }
  }
}
/*TITULOS CON PARTICULAS*/
.titulo{
  color: white;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.08rem;
}
.matiz{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 0;
  top: 0;
  background-color: #3795a9;
  background-image: linear-gradient(46deg,rgba(1,27,46,.15) 0,rgba(150,195,34,.4) 100%);
  opacity: .41;
}
.center-vertical,.center-horizontal{display: flex;}
.center-vertical{
  align-items: center;
}
.center-horizontal{
  justify-content: center;
}
.center-absolute{position: absolute;z-index: 1;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);}

.particulas{
  height: 360px;
  overflow: hidden;
}
.performma-background{
  background: {
    color: #253754;
  }
}
.plomo-background{
  background: {
    color: #eeeeee;
  }
}
.card{
  position: relative;
  background: white;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  height: 320px;
  img{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
  }
  h2{
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top:60%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.card2{
  a{
    color: rgb(0, 74, 142);
    font-size: 2rem;
  }
  h2{
        margin: -19px;
  }
}
/*CAPTCHA*/
.g-recaptcha{
  transform: scale(1) translateX(20%);
  transform-origin: 0 0;
  @media only screen and (max-width: 1300px){
    transform: scale(1) translateX(20%);
  }
  @media only screen and (max-width: 1200px){
    transform: scale(1) translateX(20%);
  }
  @media only screen and (max-width: 1100px){
    transform: scale(1) translateX(20%);
  }
  @media only screen and (max-width: $tablet){
    transform: scale(.85) translateX(5%);
  }
  @media only screen and (max-width: $movil){
    transform: scale(1) translate(15%);
  }
  @media only screen and (max-width: 500px){
    transform: scale(1) translate(10%);
  }
  @media only screen and (max-width: 450px){
    transform: scale(1) translate(8%);
  }
  @media only screen and (max-width: 425px){
    transform: scale(1) translate(6%);
  }
  @media only screen and (max-width: 400px){
    transform: scale(0.89) translate(0);
  }
  @media only screen and (max-width: 350px){
    transform: scale(0.8) translate(0);
  }
  @media only screen and (max-width: 300px){
    transform: scale(0.7) translate(0);
  }
}
.g-50{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  p,ul{color: gold;}
  i{padding: 5px;}
  @media only screen and (min-width: $web){
    width: calc(50% - 70px);
  }
  @media only screen and (max-width: $tablet) and (min-width: $movil){
    width: calc(100% - 20px);
  }
  @media only screen and (max-width: $movil){
    width: calc(100% - 10px);
  }
}

/*Formulario de Registro*/
.h4-form{
    text-align: center;
    color: #f21913;
    border-radius: 10px 10px 0 0;
    margin: 0 -10px;
    padding: 3px;
    font-size: 25px;
}
.col.form-control{padding: 0px 10px;height: 35px;}

::-webkit-input-placeholder {
  color: rgb(113, 113, 113);
}
:-ms-input-placeholder {
  color: rgb(64, 64, 64);
}
::-moz-placeholder {
  color: rgb(52, 51, 51);
}
:-moz-placeholder {
  color: rgb(52, 51, 51);
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom:1px solid #504896;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
.input-field label:not(.label-icon).active {
  color: #e7553d;top:10px;font-size: 1rem;}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e7553d;background:#3994ad; color:black;box-shadow: 0 1px 0 0 #e7553d;transition: all 0.3s linear;}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 1.3rem;
}
.input-field .prefix~.autocomplete-content, .input-field .prefix~.validate~label, .input-field .prefix~input, .input-field .prefix~label, .input-field .prefix~textarea {
    padding-left: 0.5rem;top: 5px;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  height: 1.9rem;border: 1.3px solid #365480;margin: 0 0 5px;border-radius: 6px;background: white;line-height: 1;}
.input-field .prefix.active {
  color: #e7553d;
}
.btn-teal{
  background: #3baeca;
  padding: 15px 30px;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 5px;
}
.btn-orange{
    background: #c9613a;
    padding: 15px 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
}
#statusMessage{background: #73c629;border-left: solid 7px #0d47a1;}
/*FOOTER*/


/*CLIENTES*/
#mycarousel2 {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: url(../images/clientes.jpg);
  animation-name: animlogos;
  animation-delay: 3s;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes animlogos {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
.menu-footer, .barra{
  background: #365480;
  .row{
    margin-bottom: 0;
  }
}
.menu-footer{
  padding-bottom: 15px;
  padding-top: 10px;
  box-shadow: 0px 0px 20px 0px black;
  border-bottom: solid 3px white;
  border-bottom: 1.5px solid rgba(228, 228, 228, 0.6);
  li{
    margin-bottom: 10px;
    &>a{
      color: #fff;
      font-size: 1.2rem;
      font-weight: 300;
      border-radius: 5px;
      &:hover{
        text-shadow: 0px 3px 5px black;
      }
    }
  }
}
.titulo-footer{
  color: white;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 15px;
}
.btn-verde{
  color: #365480 !important;
  display: block;
  font-size: 2rem !important;
  background: linear-gradient(#80ff14,#b8ff2d,#b6ff2f,#62e400);
  text-align: center;
  box-shadow: 0px 1px 7px 0px #4e4e4e;
  &:hover{
    text-shadow: none !important;

  }
}
.btn-naranja{
  color: #365480 !important;
  display: block;
  font-size: 2rem !important;
  background: linear-gradient(#ffab04,#ffbc00,#ffa500,#ff711f);
  text-align: center;
  box-shadow: 0px 1px 7px 0px #4e4e4e;
  &:hover{
    text-shadow: none !important;
  }
}
.btn-verde-fosforesente{
  color: #365480 !important;
  display: block;
  font-size: 2rem !important;
  background: linear-gradient(#80ff14,#b8ff2d,#b6ff2f,#62e400);
  text-align: center;
  box-shadow: -1px -2px 1px #365480, -2px -3px 1px #a9fe02, -1px 2px 1px #a8ff00;
  &:hover{
    text-shadow: none !important;

  }
}
.btn-naranja-fosforesente{
  color: #365480 !important;
  display: block;
  font-size: 2rem !important;
  background: linear-gradient(#ffab04,#ffbc00,#ffa500,#ff711f);
  cursor: default;
  text-align: center;
  box-shadow: -1px -2px 1px #365480, -2px -3px 1px #ffb200, -1px 2px 1px #ffb200;
  &:hover{
    text-shadow: none !important;
  }
}
.logo-tableau{
  background: white;
  padding: 5px;
  border-radius: 3px;
}

.barra {
  font-size: 1.2rem;

  position: relative
}
ul.social_icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 11px;
    margin-bottom: 10px;
    a i {
      border-radius: 10%;
      background: white;
      color: #365480;
      height: 45px;
      line-height: 3.5rem;
      font-size: 1.25rem;
      padding: 0;
      text-align: center;
      width: 45px;
      text-shadow: none;
      opacity: .75;
      &:hover {
        transform: rotate(1turn);
        transition-duration: 2s;
        transition-property: all;
        transition-timing-function: ease;
        opacity: 1;
        transition: all .9s ease 0s;
      }
    }
  }
  .fa-facebook:hover,.fa-twitter:hover,.fa-google-plus:hover{
    color: white;
  }
  .fa-facebook:hover {
    background: linear-gradient(150deg,#89c3ff,#004ec7,#004ec7 110%);
  }
  .fa-twitter:hover {
    background: linear-gradient(150deg,#c9ecff,#00adff,#06afff);
  }
  .fa-google-plus:hover {
    background: linear-gradient(150deg,#ff8787,red,red);
  }
}
#ahpublicidad{
  color: white;
  opacity: 0.7;
  transition: all 0.5s;
  &:hover{
    color: #c80101;
    opacity: 1;
    text-shadow: 1px 1px 1px gold;
  }
}
.row .circule-galery{
  clip-path: circle(50% at 50% 50%);
}
