//- mixins
include blocks/mixins.pug
//- mixins-end

<!DOCTYPE html>
html(lang="es")
  include blocks/head.pug
  body
    include blocks/header.pug
    section.performma-background
      .container.center-absolute
        h2.titulo Contacte con nosotros desde <b>cualquier lugar</b> 
      .matiz
      #particles-js.particulas
    section
      .container
        .row
          .col.s12
            .status.alert.alert-success(style='display: none; text-align: center;')              
            form#theForm.second(style='padding: 21px 4% 20px 1%;', method='post', action='./mail.php', role='form')
              .col.s12.m6.l6 
                .form_row
                  .input.input-field
                    i.material-icons.prefix account_circle
                    input#nombre.validate(type='text', name='nombre', tabindex='1', required='')
                    label(for='nombre') Nombre completo:
                .form_row
                  .input.input-field
                    i.material-icons.prefix phone
                    input#telefono.validate(type='number', name='telefono', tabindex='2', required='')
                    label(for='telefono') Teléfono:
                .form_row
                  .input.input-field
                    i.material-icons.prefix settings_cell
                    input#movil.validate(type='number', name='movil', tabindex='3', required='')
                    label(for='movil') Teléfono móvil:
                .form_row
                  .input.input-field
                    i.material-icons.prefix location_on
                    input#direccion.validate(type='text', name='direccion', tabindex='4', required='')
                    label(for='direccion') Dirección:
                .form_row
                  .input.input-field
                    i.material-icons.prefix location_city
                    input#ciudad.validate(type='text', name='ciudad', tabindex='5', required='')
                    label(for='ciudad') Ciudad:
              .col.s12.m6.l6
                .form_row
                  .input.input-field
                    i.material-icons.prefix email
                    label(for='email') Su E-mail:
                    input#email.validate(type='email', name='email', tabindex='6', required='')
                .form_row.mensaje
                  .input.input-field
                    i.material-icons.prefix mode_edit
                    label(for='mensaje') Mensaje:
                    textarea#mensaje.materialize-textarea.validate(cols='55', rows='7', name='mensaje', tabindex='7', required='')
                .form-group
                  .g-recaptcha.col.s12(data-sitekey='6LcmryUUAAAAAIGacGiKEDO7Aaeu6kUW_VnEEGgA')
                .col.s12.form-group.center-align
                  input.submitbtn.btn-teal(type='submit', value='Enviar')
                  input.deletebtn.btn-orange(type='reset', value='Borrar')
            
                  // <input class="submitbtn waves-effect waves-red" type="submit" tabindex="8" value="Enviar"> </input>
                  // <input class="deletebtn waves-effect waves-yellow btn z-depth-3" type="reset" tabindex="9" value="Borrar"> </input>
                .col.s12
                  #statusMessage
          
      br
      br
    include blocks/footer.pug
