//- mixins
include blocks/mixins.pug
//- mixins-end

<!DOCTYPE html>
html(lang="es")
  include blocks/head.pug
  body
    include blocks/header.pug
    include blocks/slider.pug
    section.plomo-background
      .container
        .row(style="margin-bottom:0;")
          .col.s12(style="margin-bottom: 40px; margin-top: 10px;")  
            .col.s12
              h2 Accesos rápido a nuestros productos:              
            .col.s12.m6.l6
              .card.z-depth-3
                a(href="./"): img.responsive-img(src="images/productos/tableau.png", alt="ANÁLISIS VISUAL PARA TODOS")
                h2: a.btn-naranja(href="./") Análisis visual para todos
            .col.s12.m6.l6
              .card.z-depth-3
                a(href="./"): img.responsive-img(src="images/productos/dynatrace-blue.svg", alt="Servicios")
                h2: a.btn-verde(href="./") Plataforma de rendimiento digital
    section.performma-background
      .container.center-absolute
        h2.titulo Por qué <b>Performma</b> Performance Management 
      .matiz
      #particles-js.particulas
    section
      .container
        .row
          .col.s1.m1.l1.center-horizontal
            img(src="images/tick.svg", alt="Tickeo")
          .col.s11.m11.l11
            h3 <b>Mejor desempeño</b> que brindará madurez en la gestión de su empresa
            p Proveemos de soluciones de gestión estratégica que permitirán el retorno de las inversiones. A partir de la definición de las líneas estratégicas que agregan valor al negocio para mejorar resultados, es posible asegurar el desarrollo y mantener una ventaja competitiva.
            p <b>Asesoramos a las organizaciones en los procesos de implementación de sus objetivos estratégicos, por medio de herramientas que permiten un diagnóstico realista de la cadena de valor y medición del desempeño, identificamos oportunidades de mejora y acciones inmediatas para mitigar los riesgos, proteger el negocio y generar valor a los accionistas.</b>
          .col.s1.m1.l1.center-horizontal
            img(src="images/tick.svg", alt="Tickeo")
          .col.s11.m11.l11
            h3 <b>Alineamiento estratégico</b> de IT con el negocio
            p Definir los lineamientos estratégicos de IT asegurando coherencia con la estrategia del negocio incluyendo la formulación e implementación del Plan de Estratégico de IT y su correspondiente Presupuesto.
            p <b>El contexto actual de competitividad fuerza a las organizaciones a centrar su atención en sacar el máximo provecho de sus inversiones en sistemas y tecnologías de la información (IT).</b>
    section.plomo-background
      .container
        .row(style="margin-bottom:0;")
          .col.s12(style="margin-top:20px;")
            h4.center-align Acceso rápido a productos y servicios esenciales de <b>Performma</b>:
          .col.s12.acceso-rapido(style="margin-bottom:40px;")               
            .col.s12.m6.l4.tarjeta
              img.icon-azul(src="images/analisis.svg", alt="ANÁLISIS VISUAL PARA TODOS")
              img.icon-blanco(src="images/analisis-white.svg", alt="ANÁLISIS VISUAL PARA TODOS")          
              h2 ANÁLISIS VISUAL PARA TODOS
              a.btn-bordeado(href="") Ver más
            .col.s12.m6.l4.tarjeta
              img.icon-azul(src="images/plataforma.svg", alt="PLATAFORMA DE RENDIMIENTO DIGITAL")
              img.icon-blanco(src="images/plataforma-white.svg", alt="PLATAFORMA DE RENDIMIENTO DIGITAL")
              h2 PLATAFORMA DE RENDIMIENTO DIGITAL
              a.btn-bordeado(href="") Ver más
            .col.s12.m6.l4.tarjeta
              img.icon-azul(src="images/servicios.svg", alt="Servicios")
              img.icon-blanco(src="images/servicios-white.svg", alt="Servicios")
              h2 SERVICIOS
              a.btn-bordeado(href="") Ver más
    section
      .container
        .row(style="margin-bottom:0;")
          .col.s12(style="margin-top: 10px;")  
            .col.s12
              h2 Nuestros Proyectos:              
            .col.s12.m4.l4(style="margin-bottom: 40px;")
              .card2.z-depth-3
                a(href="./"): img.responsive-img(src="images/proyectos/industria-mineria.jpg", alt="ANÁLISIS VISUAL PARA TODOS")
                h2: a(href="./") Industria y Minería
            .col.s12.m4.l4(style="margin-bottom: 40px;")
              .card2.z-depth-3
                a(href="./"): img.responsive-img(src="images/proyectos/telecomunicaciones.jpg", alt="Servicios")
                h2: a(href="./") Telecomunicaciones
            .col.s12.m4.l4(style="margin-bottom: 40px;")
              .card2.z-depth-3
                a(href="./"): img.responsive-img(src="images/proyectos/banca-y-seguros.jpg", alt="Banca y seguros")
                h2: a(href="./") Banca y Seguros
            .col.s12.m4.l4(style="margin-bottom: 40px;")
              .card2.z-depth-3
                a(href="./"): img.responsive-img(src="images/proyectos/salud.jpg", alt="ANÁLISIS VISUAL PARA TODOS")
                h2: a(href="./") Salud
            .col.s12.m4.l4(style="margin-bottom: 40px;")
              .card2.z-depth-3
                a(href="./"): img.responsive-img(src="images/proyectos/gobierno-alcaldias.jpg", alt="Servicios")
                h2: a(href="./") Gobierno y Alcaldías
            .col.s12.m4.l4(style="margin-bottom: 40px;")
              .card2.z-depth-3
                a(href="./"): img.responsive-img(src="images/proyectos/ong.jpg", alt="ONG y Fundaciones")
                h2: a(href="./") ONG y Fundaciones
            
    section
      .car2wrap(style="margin-top:40px;")
        #mycarousel2     
          
      br
      br
    include blocks/footer.pug
