//- mixins
include blocks/mixins.pug
//- mixins-end

<!DOCTYPE html>
html(lang="es")
  include blocks/head.pug
  body
    include blocks/header.pug
    section.performma-background
      .container.center-absolute
        h2.titulo <b>Performma</b> Performance Management
        h5.center-align.titulo Estos somos
      .matiz
      #particles-js.particulas
    section
      .container
        .row(style="margin-bottom:0;")       
          .col.s12.m12.l12
            p Contamos con una vasta experiencia profesional en el entorno empresarial por más de 23 años de nuestros Consultores Senior, orientando nuestros esfuerzos en el desarrollo estratégico tecnológico de las organizaciones y en el fortalecimiento gerencial de los ejecutivos.
            p Los proyectos que desarrolla PERFORMMA se realizan bajo una sólida Gerencia de Proyectos asegurando la calidad de los mismos en todas las etapas de su desarrollo.
            p PERFORMMA posee experiencia funcional en los procesos core y en las tecnologías de la información y comunicaciones (TIC) de las siguientes industrias y sectores:
    section
      .container
        .row(style="margin-bottom:0;")
          .col.s12.acceso-rapido                 
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/mineria.svg", alt="MINERÍA")
              img.icon-blanco(src="images/mineria-white.svg", alt="MINERÍA")          
              h2 MINERÍA
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/industria-comercio.svg", alt="Industria y comercio")
              img.icon-blanco(src="images/industria-comercio-white.svg", alt="Industria y comercio")
              h2 INDUSTRIA Y COMERCIO
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/instituciones-educativas.svg", alt="Instituciones educativas")
              img.icon-blanco(src="images/instituciones-educativas-white.svg", alt="Instituciones educativas")
              h2 INSTITUCIONES EDUCATIVAS
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/telecomunicaciones.svg", alt="Telecomunicaciones")
              img.icon-blanco(src="images/telecomunicaciones-white.svg", alt="Telecomunicaciones")          
              h2 TELECOMUNICACIONES
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/seguros.svg", alt="SEGUROS")
              img.icon-blanco(src="images/seguros-white.svg", alt="SEGUROS")
              h2 SEGUROS
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/gobierno-alcaldia.svg", alt="Gobierno y Alcaldías")
              img.icon-blanco(src="images/gobierno-alcaldia-white.svg", alt="Gobierno y Alcaldías")
              h2 GOBIERNO Y ALCALDÍAS
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/servicios.svg", alt="Servicios")
              img.icon-blanco(src="images/servicios-white.svg", alt="Servicios")
              h2 BANCA E INSTITUCIONES FINANCIERAS
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/salud-seguridad-social.svg", alt="Salud y seguridad social")
              img.icon-blanco(src="images/salud-seguridad-social-white.svg", alt="Salud y seguridad social")
              h2 SALUD Y SEGURIDAD SOCIAL
            .col.s12.m6.l4.tarjeta2
              img.icon-azul(src="images/ong.svg", alt="ONG y sin fines de lucro")
              img.icon-blanco(src="images/ong-white.svg", alt="ONG y sin fines de lucro")
              h2 ONG Y SIN FINES DE LUCRO
    
    //- section
    //-   .car2wrap
    //-     #mycarousel2     
          
      br
      br
    include blocks/footer.pug
