//- mixins
include blocks/mixins.pug
//- mixins-end

<!DOCTYPE html>
html(lang="es")
  include blocks/head.pug
  body
    include blocks/header.pug
    section.performma-background
      .container.center-absolute
        h2.titulo Nuestros <b>servicios</b>
        //- h5.center-align.titulo Estos somos
      .matiz
      #particles-js.particulas
    section
      .container
        .row(style="margin-bottom:0;")       
          .col.s12.m12.l12
            .fade
              div
                p Capacitación <b>ejecutiva</b>.
                .circule-galery.col.s12.m6.l6
                  img(src="images/slider1.jpg")
              div
                .circule-galery.col.s12.m6.l6
                  img(src="images/slider1.jpg")
                p Gestión del <b>desempeño empresarial</b>.
              div
                p Asesoramiento estratégico en <b>Tecnologías de la Información</b>.
                .circule-galery.col.s12.m6.l6
                  img(src="images/slider1.jpg")
              div
                .circule-galery.col.s12.m6.l6
                  img(src="images/slider1.jpg")
                p Soporte, mejora continua e implementación de <b>SAP Business Suite</b>.
              div
                p Implementación de soluciones de <b>Business Intelligence</b> y <b>Data Mining</b>.
                .circule-galery.col.s12.m6.l6
                  img(src="images/slider1.jpg")
              div
                .circule-galery.col.s12.m6.l6
                  img(src="images/slider1.jpg")
                p Diseño e implementación de <b>soluciones tecnológicas</b> estratégicas.
    //- section
    //-   .car2wrap
    //-     #mycarousel2     
          
      br
      br
    include blocks/footer.pug
